.employee_m {
  width: 100%;
  background-color: $white;
  box-shadow: 0px 0px 4px $shadow;
  border-radius: 5px;
}

.addNewEmployeeBtn {
  height: 38px;
  background-color: #146f62;
  box-shadow: 0px 0px 4px $shadow;
  border: none;
  border-radius: 4px;
  outline: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  width: 260px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.89);
  z-index: 2;
  cursor: pointer;
}

.download_icon {
  cursor: pointer;
}

// .addNewEmployee {
//   width: "215px";
//   height: "241px";
//   display: "flex";
//   justify-content: "center";
//   align-items: "center";
//   border: "1px dashed #70707080";
//   border-radius: "10px";
//   opacity: 1;
// }



.enrollment-wrapper {
  width: 75%;
  margin: 3rem auto;

}

// .formIcon {
//   z-index: 10;

//   width: 100%;
//   text-align: right;

//   .btn-option {
//     margin-top: 5px;
//     border: none !important;
//     background: #146F62 !important;
//     // padding: 10px !important;
//     padding-right: 2px;
//     padding-left: 2px;
//     border-radius: 4px !important;
//     // height: 24px;
//     width: 24px;
//     // height: 100% !important;

//     &:hover {
//       background: #045F52 0% 0% no-repeat padding-box !important;

//     }

//     img {
//       vertical-align: middle;
//     }

//   }
// }

// create Zone Device
.create-enrollment-data {

  p {
    font: normal normal 600 18px/22px Montserrat;
    letter-spacing: 4.5px;
    color: #146f62;
    opacity: 1;
  }

  .requiredData {
    .MuiFormHelperText-root {
      color: $error-text-input !important;
    }
  }

  .MuiFormHelperText-root {
    font-size: 8px !important;
    color: $help-text-input !important;
    letter-spacing: normal;
  }

  // padding: 2rem 18rem;

  .form-field {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    align-items: center;
    z-index: 1;

    .MuiTypography-root {
      text-align: right !important;
      font: normal normal bold 10px/13px Montserrat !important;
      letter-spacing: 0px !important;
      color: #707070 !important;
    }



  }

  .select-input-field {
    margin-top: -5px !important;
  }

  .react-tel-input {
    border-radius: 4px;

    .form-control {
      height: 40px;
      width: 100%;
      background: transparent;
      box-shadow: none;
      border-radius: 4px;

      &:focus {
        border-color: $grey;
        box-shadow: none;
        border-width: 2px;
      }

    }

    .dropdown-flag {
      &:focus {
        border-color: $grey;
        box-shadow: none;
        border-width: 2px;
      }
    }

    .selected-flag {
      .arrow {
        border-top: 5px solid $grey;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
    }
  }
}


.create-enrollment-footer {
  // padding: 1rem 9rem;
  display: flex;
  justify-content: center;

  .cancel {
    border-radius: 4px;
    opacity: 1;
    // width: 350px;
    height: 40px;
    border: none;
    font: normal normal bold 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #bc0000;
    background: #ffffff 0% 0% no-repeat padding-box;
    text-transform: uppercase;

    &:hover {
      border-radius: 3px 0 0 3px;
      background-color: #e1e1e1;
    }
  }

  .create {
    background: #146f62 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #00000080;
    border-radius: 4px;
    opacity: 1;
    // width: 350px;
    height: 40px;
    border: none;
    font: normal normal bold 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    text-transform: uppercase;
  }
}

.access-rights-enrollment {
  .title-card {
    display: grid;
    text-align: center;
    font: normal normal bold 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #707070;
  }

  .MuiCard-root {
    background: #E1E1E1 0% 0% no-repeat padding-box;
    border: 2px solid #707070;
    border-radius: 6px;
    height: 350px;
    position: relative;


    .card-content-criteria {
      max-height: 320px;
      overflow-y: scroll;
    }

    .card-content-criteria::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }

    .card-content-criteria::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    .card-rules {
      max-height: 196px;
      overflow-y: scroll;
    }

    .card-rules::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }

    .card-rules::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    .list-item-criteria {
      margin: 8px 0px;
      padding: 0.5px 1px;
      // cursor: pointer;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 4px;

      .MuiListItemText-primary {
        user-select: none;
        text-align: left;
        font: normal normal normal 10px/13px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        // cursor: pointer;
      }

      .assign-icon {
        margin-right: 8px;
        width: 16px;
        height: 18px;

        &:hover {
          // border-radius: 3px 0 0 3px;
          background-color: $accent-grey;
          box-shadow: 0px 0px 0px 4px $accent-grey;
          border-radius: 1px;
          // padding: 6px;
        }
      }

      .deallocate-icon {
        width: 14px;
        height: 14px;
      }

      // &:hover {
      //   background: #FFFFFF 0% 0% no-repeat padding-box;
      //   border-radius: 4px;
      //   cursor: pointer;
      // }

    }

    .list-item-rules {
      margin: 3px 5px;
      padding: 0.5px 5px;
      display: flex;
      align-items: center;


      .MuiListItemText-primary {
        user-select: none;
        text-align: left;
        font: normal normal normal 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        cursor: default;
      }

      .circle {
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background-color: $dark;
        margin-right: 10px;
      }

      .delete-icon {
        width: 16px;
        height: 18px;
        cursor: pointer;

        &:hover {
          box-shadow: 0px 0px 0px 2px #FFFFFF;
          border-radius: 2px;
          background: #FFFFFF;
        }
      }

    }

    .MuiCardActions-root {
      background: white;
      position: absolute;
      padding: 0px;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .MuiButton-root {
        height: 20px;
        color: $grey;
        text-align: center;
        text-decoration: underline;
        font: normal normal normal 12px/15px Montserrat;
        letter-spacing: 0px;
        opacity: 1;
        border: none;
        box-shadow: none;
        padding: 2px 8px;
        margin: 3px;

        &:hover {
          background: $accent-grey;
          border-radius: 1px;
          opacity: 1;
          padding: 2px 8px;
          margin: 3px;
        }
      }
    }
  }

  .add-rule-btn {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font: normal normal 600 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: $accent;
    box-shadow: 0px 0px 4px #0000004D;
    border-radius: 4px;
    opacity: 1;

    &:hover {
      background: $accent-hover;
      box-shadow: 0px 0px 4px #0000004D;
      border-radius: 4px;
      opacity: 1;
    }
  }

  .div-rules {
    display: flex;
    margin-top: 10px;

    .span-rules {
      text-align: left;
      font: normal normal bold 14px/18px Montserrat;
      letter-spacing: 0px;
      color: #707070;
      margin-top: 5px
    }
  }

  .search-btn {
    margin-top: 8px;
    width: 50%;
    margin-left: 50%;
    text-align: center;
    font: normal normal 600 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: $dark;
    box-shadow: 0px 0px 4px #0000004D;
    border-radius: 4px;
    opacity: 1;

    &:hover {
      background: $dark-hover;
      box-shadow: 0px 0px 4px #0000004D;
      border-radius: 4px;
      opacity: 1;
    }
  }

}

.add-workshift-enrollment-dialog {
  .dialog-content {
    overflow-y: scroll;
  }

  .dialog-content::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }

  .dialog-content::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .search-title {
    text-align: center;
    font: normal normal bold 20px/24px Montserrat;
    letter-spacing: 7px;
    color: $dark;
  }

  .modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 2px;

    &:hover {
      background: #E1E1E1 0% 0% no-repeat padding-box;
      border-radius: 1px;
      cursor: pointer;
    }
  }

  .MuiDivider-root {
    background: #178A7B;
    height: 3px;
    border-radius: 10px;
    opacity: 1;
  }

  .MuiFormControl-root {
    border: 2px;
  }

  .div-options {

    display: flex;


    .span-options {
      text-align: left;
      font: normal normal bold 14px/18px Montserrat;
      letter-spacing: 0px;
      color: #707070;
      padding-right: 22%;
    }


    label {
      font: normal normal normal 14px/18px Montserrat;
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;
    }

    .criteria-option-label {
      text-decoration: underline;
      font: normal normal bold 14px/18px Montserrat;
      letter-spacing: 0px;
      color: $accent;
      opacity: 1;
    }

    .MuiSwitch-root {
      .Mui-checked {
        .MuiSwitch-thumb {
          color: $primary; // The color of the thumb when the switch is OR
          opacity: 1;
        }

        .MuiSwitch-track {
          background-color: $accent;
          /* Color of the track when the switch is activated (checked) */
          opacity: 1;
        }
      }

      .MuiSwitch-thumb {
        color: $grey; // The color of the thumb when the switch is AND
        opacity: 1;
      }

      .MuiSwitch-track {
        background-color: $accent-grey; //The of the track when switch is OR
        opacity: 1;
      }
    }



  }

  .div-criterias {

    .title-card {
      display: grid;
      text-align: center;
      font: normal normal bold 14px/18px Montserrat;
      letter-spacing: 0px;
      color: #707070;
    }

    .MuiCard-root {
      background: #E1E1E1 0% 0% no-repeat padding-box;
      border: 2px solid #707070;
      border-radius: 6px;
      height: 200px;
      position: relative;


      .card-content-criteria {
        max-height: 170px;
        overflow-y: scroll;
      }

      .card-content-criteria::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
      }

      .card-content-criteria::-webkit-scrollbar-thumb {
        background-color: transparent;
      }

      .card-rules {
        max-height: 196px;
        overflow-y: scroll;
      }

      .card-rules::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
      }

      .card-rules::-webkit-scrollbar-thumb {
        background-color: transparent;
      }

      .list-item-criteria {
        margin: 0.5px 5px;
        padding: 0.5px 5px;
        cursor: pointer;

        .MuiListItemText-primary {
          user-select: none;
          text-align: left;
          font: normal normal normal 10px/13px Montserrat;
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;
          cursor: pointer;
        }

        .assign-icon {
          width: 8px;
          height: 14px;
        }

        .deallocate-icon {
          width: 14px;
          height: 14px;
        }

        &:hover {
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border-radius: 4px;
          opacity: 1;
          cursor: pointer;
        }

      }

      .list-item-rules {
        margin: 3px 5px;
        padding: 0.5px 5px;
        display: flex;
        align-items: center;


        .MuiListItemText-primary {
          user-select: none;
          text-align: left;
          font: normal normal normal 14px/18px Montserrat;
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;
          cursor: default;
        }

        .circle {
          border-radius: 50%;
          width: 6px;
          height: 6px;
          background-color: $dark;
          margin-right: 10px;
        }

        .delete-icon {
          width: 16px;
          height: 18px;
          cursor: pointer;

          &:hover {
            box-shadow: 0px 0px 0px 2px #FFFFFF;
            border-radius: 2px;
            background: #FFFFFF;
          }
        }

      }

      .MuiCardActions-root {
        background: white;
        position: absolute;
        padding: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .MuiButton-root {
          height: 20px;
          color: $grey;
          text-align: center;
          text-decoration: underline;
          font: normal normal normal 12px/15px Montserrat;
          letter-spacing: 0px;
          opacity: 1;
          border: none;
          box-shadow: none;
          padding: 2px 8px;
          margin: 3px;

          &:hover {
            background: $accent-grey;
            border-radius: 1px;
            opacity: 1;
            padding: 2px 8px;
            margin: 3px;
          }
        }
      }
    }

    .add-rule-btn {
      margin-top: 20px;
      width: 100%;
      text-align: center;
      font: normal normal 600 14px/18px Montserrat;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
      background: $accent;
      box-shadow: 0px 0px 4px #0000004D;
      border-radius: 4px;
      opacity: 1;

      &:hover {
        background: $accent-hover;
        box-shadow: 0px 0px 4px #0000004D;
        border-radius: 4px;
        opacity: 1;
      }
    }

    .div-rules {
      display: flex;
      margin-top: 10px;

      .span-rules {
        text-align: left;
        font: normal normal bold 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        margin-top: 5px
      }
    }

    .search-btn {
      margin-top: 8px;
      width: 50%;
      margin-left: 50%;
      text-align: center;
      font: normal normal 600 14px/18px Montserrat;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
      background: $dark;
      box-shadow: 0px 0px 4px #0000004D;
      border-radius: 4px;
      opacity: 1;

      &:hover {
        background: $dark-hover;
        box-shadow: 0px 0px 4px #0000004D;
        border-radius: 4px;
        opacity: 1;
      }
    }




  }

}

.step5-take-selfie {
  display: flex;
  justify-content: center;
  align-items: center;

  .image-box {

    width: 481px;
    height: 354px;
    // background: transparent url('img/silueta_persona.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    .red-circle {
      margin-top: 350px;
      position: absolute;
      width: 61px;
      height: 61px;
      border-radius: 50%;
      background-color: rgba(226, 76, 75, 1);

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.step6-capture-finger {
  display: flex;
  justify-content: center;
  // align-items: center;


  span {
    position: absolute;
    width: max-content;
    font: normal normal 600 16px/19px Montserrat;
    color: $grey;

  }

  .image-box {
    margin-top: 50px;
    border: 6px solid $grey;
    position: relative;
    width: 230px;
    height: 230px;
    border-radius: 50%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.enrollment-summary-wrapper {
  width: 125%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .data-items {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 9rem;
    position: relative;

    .vehical-data {
      padding-top: 1rem;

      h4 {
        text-align: left;
        font: normal normal normal 14px/18px Montserrat;
        letter-spacing: 0px;
        color: $grey;
      }

      p {
        text-align: left;
        font: normal normal bold 14px/18px Montserrat;
        letter-spacing: 0px;
        color: $accent;
        text-transform: none;
        // padding-left: 2.3rem;
      }

      .p-mayus {
        text-transform: uppercase;
      }
    }

  }

  .title-card {
    display: grid;
    text-align: center;
    font: normal normal bold 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #707070;
  }

  .MuiCard-root {
    background: #E1E1E1 0% 0% no-repeat padding-box;
    border: 2px solid #707070;
    border-radius: 6px;
    height: 350px;
    position: relative;


    .card-content-criteria {
      max-height: 320px;
      overflow-y: scroll;
    }

    .card-content-criteria::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }

    .card-content-criteria::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    .card-rules {
      max-height: 196px;
      overflow-y: scroll;
    }

    .card-rules::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }

    .card-rules::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    .list-item-criteria {
      margin: 8px 0px;
      padding: 0.5px 1px;
      // cursor: pointer;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 4px;

      .MuiListItemText-primary {
        user-select: none;
        text-align: left;
        font: normal normal normal 10px/13px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        // cursor: pointer;
      }

      .assign-icon {
        margin-right: 8px;
        width: 16px;
        height: 18px;

        &:hover {
          // border-radius: 3px 0 0 3px;
          background-color: $accent-grey;
          box-shadow: 0px 0px 0px 4px $accent-grey;
          border-radius: 1px;
          // padding: 6px;
        }
      }

      .deallocate-icon {
        width: 14px;
        height: 14px;
      }

      // &:hover {
      //   background: #FFFFFF 0% 0% no-repeat padding-box;
      //   border-radius: 4px;
      //   cursor: pointer;
      // }

    }
  }

  .driver_items_container {
    padding-bottom: 2rem;

    .driver_item_card {
      padding: 1rem 0.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;

      .driver_item {
        width: 100%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 4px #00000059;
        border-radius: 4px;
        opacity: 1;
        display: flex;
        position: relative;
        overflow: hidden;
        max-width: 399px;


        .driver_avatar {
          flex: 1;
          @include flex_center;
          flex-direction: column;
          gap: 0.3rem;

          img {
            width: 90px;
            height: 90px;
            border-radius: 50%;

          }

          a {
            text-decoration: underline;
            font: normal normal normal 10px/13px Montserrat;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-weight: bold;
            padding: 0.2rem;
            @include hover_effect;

          }

        }

        .driver_info {

          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          flex: 2;

          .col-6 {
            overflow: hidden;
          }

          .driver_data {
            padding-top: 0.4rem;

            h4 {
              text-transform: uppercase;
              @include text_styles(#000000, 10px, bold);
            }

            p {
              @include text_styles(#707070, 12px, normal);
              padding-left: 2.3rem;
            }
          }
        }

        .edit {
          @include positionrighttop(absolute, 3px, 5px);
          @include flex_center;
          padding: 0.1rem;
          z-index: 1;
          cursor: pointer;
          @include hover_effect;
        }

      }
    }

    .add_driver_container {
      padding: 0rem 1rem;

      .add_driver_item {
        background: #FCFCFC 0% 0% no-repeat padding-box;
        border: 1px dashed #E1E1E1B3;
        border-radius: 4px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 94px;
        cursor: pointer;
        padding: 0rem 3.5rem;
        @include hover_effect;

        p {
          @include text_styles(#707070, 14px, normal);
        }

        i {
          font-size: 40px;
          color: #707070;
        }
      }
    }

    .vehicle_images_container {
      padding-top: 1rem;
      padding-bottom: 1rem;

      .vehicle_images_item {
        display: flex;
        gap: 0.3rem;
        flex-wrap: wrap;

        .vehicle_image {
          width: 204px;
          height: 210px;
          background: #f4f0f0;
          border-radius: 8px;

          img {
            width: 204px;
            height: 210px;
            border-radius: 8px;
            object-fit: contain;
            background-size: cover;

          }
        }
      }

      p {
        // padding-top: 1rem;
        text-align: center;
      }
    }
  }
}


.top_heading_m {
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .checkbox {
    margin-left: 0.5rem;
  }

  .status {
    display: flex;
    align-items: center;

    p {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

}

.emp_card_body {

  width: 100%;

  .img_body {
    width: 100%;
    height: 117px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 101px;
      height: 101px;
      border-radius: 50%;

    }
  }
}

.employee_detail_m {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  width: 66%;
  margin-left: auto;



  p {
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #146F62;
    opacity: 1;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0 !important;
  }

  img {
    margin-left: 6px;
    width: 10px;
    height: 14px;
  }

  &:hover {
    background: #E1E1E1 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
  }
}

.days_card {
  background: #e1e1e1 0% 0% no-repeat padding-box;
  border-radius: 8px;
  // width: 378px;
  height: 56px;

  .days_card_text {
    padding: 10px;

    p {
      @include color(#707070, 18px, normal, uppercase);
      padding: 6px;
      text-align: center;
    }
  }
}

.from_text {
  padding: 1.5rem 0rem 0rem 2rem;
  line-height: 0rem;

  span {
    @include color(#707070, 14px, normal, uppercase);
    margin-right: 10rem;
    line-height: 0rem;
  }

  h2 {
    @include color(#65aba0, 14px, bold, uppercase);
    line-height: 0rem;
  }
}

.firearms_card {
  box-shadow: 0px 0px 4px #00000080;
  border-radius: 6px;

  .firearms_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    @include color(#bc0000, 48px, normal, uppercase);
  }
}

.exchange_icon {
  position: relative;
  text-align: center;
  // width: 240px;
  // height: 240px;
  border-radius: 100%;
  margin: auto;
  // border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    position: relative;
  }

  .dot {
    height: 35px;
    width: 35px;
    background-color: #146f62;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: -88px;
    right: 20px;
  }

  .exchange_alt_m {
    width: 1.6rem;
    padding-top: 5px;
  }
}

.infoEmpl_text {
  @include color(#146f62, 20px, bold, capitalize);
  letter-spacing: 7px;
  text-transform: uppercase;
}

.empdetail_c {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000099;
  border-radius: 6px;
  height: 29.6rem;
  padding: 13px;

  p {
    @include color(#707070, 14px, normal, uppercase);
  }

  h2 {
    @include color(#65aba0, 14px, 600, capitalize);
  }

  td {
    padding: 5px !important;
  }
}

.empdetail_c1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000099;
  border-radius: 6px;
  height: 12rem;
  padding: 13px;

  p {
    @include color(#707070, 14px, normal, uppercase);
  }

  h2 {
    @include color(#65aba0, 14px, 600, capitalize);
  }

  td {
    padding: 5px !important;
  }
}

.add_workshiftmodal_title {
  width: 100%;
  font-weight: 600 !important;
  text-align: center;
  margin-top: 10px;
}

.access_right_m {
  .access_right_text {
    @include color(#146f62, 20px, bold, capitalize);
    letter-spacing: 7px;
  }

  .accessText {
    color: #707070;
    font-size: 14px;
    text-transform: capitalize;
    padding-left: 16px;
    font-weight: 600;
  }
}

.access_right_card {
  box-shadow: 0px 0px 6px #00000099;
  border-radius: 6px;
  padding: 30px 15px;

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    @include color(#707070, 14px, normal, capitalize);
  }

  .separator::before,
  .separator::after {
    content: "";
    flex: 1;
    border-bottom: 2.5px solid #707070;
  }

  .separator:not(:empty)::before {
    margin-right: 0.25em;
  }

  .separator:not(:empty)::after {
    margin-left: 0.25em;
  }

  table {
    // border-spacing: 0 15px;

    thead {
      th {
        font-size: 10px;
        color: #65aba0;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .first {
      text-align: left !important;
      padding-left: 1rem;
    }

    .last {
      text-align: right !important;
      padding-right: 1rem;

      img {
        cursor: pointer;
      }
    }

    tr {
      height: 36px;

      td {
        text-align: center;
        font-size: 12px;
      }
    }
  }
}

.detailTitleText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 7px;
  margin-bottom: 20px !important;
  @include color(#146f62, 20px, bold, uppercase);

  .updateSectionBtn {
    border: none;
    padding: 7px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 213px;
    border-radius: 5px;
    background-color: #146f62;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 450;
  }

  img {
    width: 23px;
    height: 18px;
    margin-left: 10px;
  }
}

.detailCards {
  table {
    border-collapse: separate !important;
    border-spacing: 0 15px;

    thead {
      th {
        font-size: 14px;
        color: #65aba0;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .first {
      text-align: left !important;
      padding-left: 1rem;
    }

    .last {
      text-align: right !important;
      padding-right: 1rem;

      img {
        cursor: pointer;
      }
    }

    tr {
      box-shadow: 0px 0px 6px #00000099;
      border-radius: 5px;
      height: 42px;

      td {
        text-align: center;
      }
    }
  }
}

.access_text {
  p {
    @include color(#178a7b, 16px, bold, uppercase);
    letter-spacing: 5.6px;
    text-decoration: underline;
    color: #178a7b !important;
    padding-bottom: 1rem;
  }
}

.checkboxes_m {
  input {
    // margin-left: 12px;
    width: 13px;
  }

  ol {
    list-style: none;
    text-decoration: none;

    li {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      i {
        font-size: 16px;
        color: #146f62;
        font-weight: 600;
      }

      span {
        @include color(#707070, 14px, normal, uppercase);
        // margin-left: 10px;
        // position: absolute;
      }
    }
  }

  ul {
    list-style: none;

    li {
      line-height: 1rem;
      padding-top: 1rem;

      &:hover {
        background: white;
      }
    }
  }

  .nested_checkbox {
    li {
      margin-left: 20px;
    }
  }
}

.mystyle {
  width: 34px;
  background-color: #e1e1e1;
  height: 34px;
  top: 18%;
  padding: 34px 34px;
  border-radius: 25px;
}

.slectday {
  width: 34px;
  background-color: #146f62;
  height: 34px;
  top: 18%;
  color: #ffffff !important;
  // padding: 0.33rem 0rem 0rem 0.9rem;
  padding: 34px 34px;
  border-radius: 25px;
}

.addemp_input_m {
  margin: 0px !important;
  justify-content: space-between;

  select {
    box-shadow: 0.4rem 0.4rem 0.4rem #0000001a;
    padding: 0.9rem;
    border-radius: 0.8rem;
    width: 100%;
    @include color(#707070, 1.2rem, bold, uppercase);
  }
}

.input_field {
  background: url("../../../assets/images/user-regular.svg") no-repeat scroll 7px 7px;
  padding-left: 30px;
}

.c_c_custom_s {
  display: flex;
  align-items: center;

  input {
    @include color(#146f62, 13px, 600, uppercase);
    height: 1rem;
    width: 1rem;
  }

  span {
    margin-left: 12px;
    @include color(#707070, 14px, bold, uppercase);
  }
}

.alldays_checkbox {
  padding: 1rem;

  label {
    display: flex;
    align-items: center;
  }

  span {
    @include color(#707070, 1.4rem, bold, uppercase);
    margin-left: 1.5rem;
  }
}

.add_card_modal {
  @include color(#ffffff, 16px, normal, uppercase);
  background: #146f62 0% 0% no-repeat padding-box;
  border-radius: 8px;
  letter-spacing: 0rem !important;
  width: 10rem;
}

.addemp_plus {
  margin-left: 2rem;
}

.addemp_dletuser {
  margin-bottom: 2rem;

  p {
    @include color(#bc0000, 18px, bold, uppercase);
  }

  span {
    cursor: pointer;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BC0000;
    font-weight: bold;
    font-size: 18px;

    &:hover {
      background-color: #E1E1E1
    }
  }

  button {
    @include color(#ffffff, 18px, 500, uppercase);
    background: #0c4523 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    // width: 300px;
    // height: 40px;
    box-shadow: 0px 0px 4px #0000004D;
    font-weight: bold;
  }
}

.fireArms_model {
  .modal-content {
    width: 100% !important;
  }

  .fireArmsInput {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    text-align: center;
  }
}

.documentDetailCard {
  position: relative;
  box-shadow: 0px 0px 4px #000000b3;
  color: #707070;
  padding: 5px 17px;
  text-align: center;
  border-radius: 8px;
  // width: 169px;
  margin: auto auto 10px auto;
  word-break: break-all;
  height: 140px;
  overflow: hidden;
  line-height: 1;

  .title {
    @include color(#707070, 14px, bold, uppercase);
  }

  .pdfpng {
    width: 30px;
    height: 34px;
  }

  .ic_download_file {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 15px;
    height: 20px;
    padding: 2px;
    cursor: pointer;
  }

  .name {
    color: #707070;
    font-size: 12px;
  }

  .date {
    font-size: 10px;
  }
}

.detailFireArmsTable {

  td,
  th,
  tr {
    border: 1px solid black;
    text-align: center;
    width: 458px;
    height: 39px;
    font-size: 14px;
    color: #65aba0;
  }

  .first {
    width: 87px;
  }
}

.uploadFile {
  background: #146f62 0% 0% no-repeat padding-box;
  border-radius: 8px;
  letter-spacing: 0rem !important;

  button {
    color: #e1e1e1;
    font-weight: bold;
  }
}

.instruction_text {
  @include color(red, 0.5rem, bold, uppercase);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cloud_upload {
  border-radius: 5px;
  padding: 2rem;
  border: 2px #707070 dashed;

  p {
    color: #707070;
  }

  span {
    color: #707070;
    font-size: 10px;
  }
}

.card_file {
  .cloud_img {
    img {
      width: 150%;
    }
  }
}

.employee_card_head {
  color: #65aba0;
  font-weight: bold;
  font-family: "Montserrat";
}

.employee_card_data {
  table {
    border-collapse: separate;
    border-spacing: 0px 5px;
    margin-top: -10px;

    tbody tr {
      border: solid 1px #000;
      border-style: solid none;
      border-radius: 10px;
      padding: 10px;
      background-color: cyan;
    }
  }
}

.emp_card_content {
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  p {

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  span {

    font-size: 12px;

    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
}

.contractors_tabs {
  li {
    button {
      letter-spacing: 7px;
    }
  }
}

.add_access {
  border: none;
  padding: 7px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15rem;
  border-radius: 5px;
  background-color: #146f62;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 450;
}

.all_checkbox {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: bold;
  color: #707070;
  text-transform: uppercase;
  text-align: right;

  input {
    width: 13px;
    margin-right: 10px;
  }
}

.all-checkbox {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: bold;
  color: #707070;
  text-transform: uppercase;
  text-align: right;
}

.dottedborderbox {
  width: 100%;
  height: 97px;
  border: 1px #707070b3 dashed;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: #E1E1E1 0% 0% no-repeat padding-box;
    border: 1px dashed #E1E1E1B3;
    border-radius: 4px;
    cursor: pointer;
  }

  p {
    font-size: 14px;
    text-align: center;
    color: #a1a1a1;
    text-transform: uppercase;
  }

  img {
    width: 97px;
    height: 58px;
  }

  #file-input {
    display: none;
  }

  .dragAndDrop i {
    color: rgba($color: $grey, $alpha: 0.8);
    font-size: 40px;
  }
}

.changeImgBottomDiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 36px;

  .changeImgCancelBtn {
    border: none;
    background: white;
    color: rgb(188, 0, 0);
    font-weight: bold;
    width: 180px;
    height: 30px;

    &:hover {
      background-color: #e1e1e1;
    }
  }

  .changeImgChangeBtn {
    background: rgb(20, 111, 98);
    color: white;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 4px #00000080;
    padding: 0px 0.8rem;
    width: 178px;
    height: 30px;
  }
}

.stepper-font {

  .MuiStepLabel-labelContainer {
    padding-top: 10px;
  }

  .stepConnectorClasses.active {
    color: #000000;
  }

  .MuiTypography-root {
    font: normal normal normal 12px/15px Montserrat;
    color: $grey;
  }

  .MuiStepLabel-label.Mui-active {
    font: normal normal bold 12px/15px Montserrat;
    color: #000000;
  }

  .MuiStepLabel-label.Mui-disabled {
    font: normal normal normal 12px/15px Montserrat;
    color: $grey;
  }

  .MuiStepLabel-label.Mui-completed {
    font: normal normal bold 12px/15px Montserrat;
    color: $grey;
  }

}

// list vs grid employee
.grid_list {
  display: flex;
  margin-left: 1rem;

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 0px 4px 4px 0px;
    opacity: 1;
    width: 39px;
    cursor: pointer;
    height: 36px;

    &:hover {
      background: #E1E1E1 0% 0% no-repeat padding-box;
    }
  }

  .gridA {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 4px 0px 0px 4px;
    opacity: 1;
    width: 39px;
    cursor: pointer;
    height: 36px;

    &:hover {
      background: #E1E1E1 0% 0% no-repeat padding-box;
    }
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 4px 0px 0px 4px;
    opacity: 1;
    width: 39px;
    height: 36px;
    cursor: pointer;

    &:hover {
      background: #E1E1E1 0% 0% no-repeat padding-box;
    }
  }

  .listA {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 0px 4px 4px 0px;
    opacity: 1;
    width: 39px;
    height: 36px;
    cursor: pointer;

    &:hover {
      background: #E1E1E1 0% 0% no-repeat padding-box;
    }
  }

  .active {
    background: #707070B3 0% 0% no-repeat padding-box;
  }

}

.employee_list_view {
  padding-top: 1rem;


  table {
    border-collapse: separate !important;
    border-spacing: 0 15px;

    thead {
      th {
        font-size: 14px;
        color: #65aba0;
        text-transform: uppercase;
        text-align: center;
        position: sticky;
        top: 0;
        background: white;
      }
    }

    .first_head {
      text-align: left !important;
      padding-left: 1rem;
    }

    .first {
      text-align: left !important;
      padding-left: 1rem;
      color: #707070;
      font-weight: bold;
      overflow: hidden;
    }

    .last {
      text-align: right !important;
      padding-right: 1rem;
    }

    .last_tr {
      // padding-left: 4rem;
      width: 8%;

      img {
        cursor: pointer;

        &:hover {
          background-color: #e1e1e1;
          opacity: 0.5;
          border-radius: 4px;
        }
      }
    }

    tr {
      background: #FFFFFF 0% 0% no-repeat padding-box !important;
      box-shadow: 0px 0px 4px #7070704D !important;
      border-radius: 4px;
      opacity: 1;

      height: 36px;

      td {
        text-align: center;

        .name_avatar {
          width: 24px;
          height: 24px;
        }
      }

      .file_with_name {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: center;



        img {
          width: 30px;
          height: 34px;
        }

        p {
          font: normal normal normal 12px/15px Montserrat;
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;
        }
      }
    }
  }
}


.employee_supplier_container {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  overflow: scroll;
  height: 71vh;

  // height: calc(100vh - 100px);
  .col-md-3 {
    padding-right: 0px !important;

  }


  &::-webkit-scrollbar {
    display: none !important;
  }
}