// All color variables

$error-text-input: #FF0000;
$help-text-input: #f2a100;
$dark: #146F62;
$dark-hover: #045F5F;
$shadow: rgba(21, 34, 50, 0.08);
$accent-grey: #E1E1E1;
$grey: #707070;
$background: #FCFCFC;