@import "../scss/breakpoint.scss";

.sidebar {
  // width: 12rem;
  position: relative;

  // .sideLogo {
  //   width: 179px;
  //   margin: 10px 0 25px 20px;
  //   height: 64px;
  // }
  .logo_sidebar{
    .sideLogoL{
      position: absolute;
      top: 11px;
      left: 13px;
    }
    .sideLogoS{
      position: absolute;
      top: 13px;
      left: 9px;
    }

  }
  .Change_menu_style{
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.4rem;
    i{
      padding: 0.15rem 0.4rem;
    border-radius: 4px;
    &:hover{
      background: #65ABA0;
    
    }
    }
    
   
  }

  .sideTabs {
    height: 100vh;
    background: #146f62;
    box-shadow: 3px 0px 4px #00000066;
    padding-top: 62px;

    ul {
      list-style: none;
      padding: 0;
      height: 75%;
    margin-top: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
    &::-webkit-scrollbar{
      display: none;
    }

      a {
        &:hover {
          text-decoration: none !important;
        }
      }

      .activeLi {
        background-color: #65aba0;
        color: #fff;
      }

      .hoverLi {
        background-color: #fff;
        color: #146f62;
      }
      .profile_li{
        height: 59px;
        position: absolute;
        bottom: 0;
        width:94%;
        &:hover{
          background-color: #fff;
          color: #146f62 !important;
          
        }
      }
     
      
      .profile_li_col{
        height: 59px;
        position: absolute;
        bottom: 0;
      }

      li {
        display: flex;
        padding: 0 1rem;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        height: 31px;
        margin: 6px;
    border-radius: 5px;

        .sidBarIcons {
          width: 21.07px;
          height: 24.08px;
          margin: 0 5px;
        }

        .btn-success.dropdown-toggle:focus {
          box-shadow: none !important;
        }

        span {
          font-size: 12px;
          font-weight: 600;
        }

        &:hover {
          // background-color: #65aba0;
          // color: #fff !important;
          text-decoration: none !important;
        }

        i {
          margin-right: 1rem;
        }

        .btn-success {
          background-color: transparent !important;
          border-color: transparent !important;
          color:#ffffff ;

          &:hover {
            background-color: transparent !important;
            color: #146f62 ;
            border-color: transparent !important;
          }
        }

        .btn {
          padding: 0 !important;
        }

        .dropdown-toggle::after {
          display: none;
        }
      }
    }

    .sideBarFooter {
      text-align: center;
      color: #ffffff;
      font-size: 12px;
      margin-top: 4rem;

      p {
        margin-bottom: 0;
        font-size: 12px;
      }
    }
  }
}

// sidebar dropdown
.sidebar_option_container_side {
  // position: absolute;
  // top: 3rem;
  // left: 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px #00000080;
  border-radius: 5px;
  opacity: 1;
  width: 205px;
 


  // padding: 5px;
  .dropdown-item {
    padding: 0 2px !important;
  }

  .sidebar_option_container_header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #707070;
    padding: 5px 0 10px 10px;
    margin: 0 8px;
    white-space: break-spaces;

    svg {
      color: #707070;
      font-size: 2.5rem;
    }

    h6 {
      font-size: 12px;
      color: #707070;
      line-height: 1.4;
      text-transform: capitalize;
    }

    p {
      font-size: 12px;
      color: #707070;
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  // .sidebar_option_body {
  .sidebar_option_body_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0;
    padding: 2px 5px;
    border-radius: 3px;

    &:hover {
      background-color: #e1e1e1;
    }

    p {
      font-weight: 600;
      font-family: Montserrat;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      font-size: 12px;
      padding: 0px 3px;
    }

    svg {
      color: black;
    }
  }

  // }
}

.leftArbic{
  inset: 52px auto auto -407px !important;

}
.notleft{
  inset: 52px auto auto 0px !important;
}
.leftArbicClose{
  inset: 52px auto auto -242px !important;
}

.leftArbicM{
  inset:  63px auto auto -204px !important;

}
.notleftM{
  inset: 61px auto auto 200px !important;
}
// some media breakpoint

@include media (">=1300px", "<=1400px") {

  .sidebar {
    width: 13.5rem ;

  }
}

@include media (">=1400px", "<=1500px") {

  .sidebar {
    width: 14.5rem ;

  }
}

@include media (">=1500px", "<=1600px") {

  .sidebar {
    width: 15.5rem ;
  }
}

@include media (">=1600px", "<=1700px") {

  .sidebar {
    width: 16.5rem ;
  }
}

@include media (">=1700px", "<=1800px") {

  .sidebar {
    width: 17.8rem ;
  }
}

@include media (">=1800px") {

  .sidebar {
    width: 17.8rem ;
  }
}