.company-detail {
  h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #146f62;
  }

  .detailCard {
    padding: 0.7rem;
    box-shadow: 0px 0px 4px #00000080;
    border-radius: 5px;
    height: 250px;

    .detailCard-head {
      display: flex;
      justify-content: space-between;
      color: #146f62;
      text-transform: uppercase;
      align-items: center;

      img {
        cursor: pointer;
      }

      h4 {
        color: #146f62;
        font-size: 1rem;
        font-weight: 600;
      }

      .dropdown-menu {
        // inset: -1.1rem auto -6.6rem -7.5rem !important;
        // height: 16rem !important;
        height: auto;
        padding: 0;
        box-shadow: 0px 0px 5px -1px grey;
        border-radius: 8px;
        transform: translate(-193px, 20px) !important;
      }

      .dropdownDiv {
        display: flex;
        justify-content: space-between;
        width: 12rem;
        padding: 0.5rem;

        &:hover {
          background-color: lightgray;
        }

        i {
          font-size: 20px;
          font-weight: bold;
        }

        span {
          font-size: 10px;
          font-weight: bold;
          text-align: right;
        }

        img {
          width: 20px;
          height: 20px;
        }
      }

      // .dropdown-item {
      //     padding: 0.5rem !important;
      //     text-transform: none;
      //     font-weight: 400;
      //     width: 11rem;
      // }
    }

    p {
      margin: 0;
      color: lightgray;
      font-size: 1rem;
    }

    ul {
      list-style: none;
      color: gray;
      font-weight: bold;
      font-size: 14px;
      margin: 0;
    }
  }

  .companyImg {
    width: 100%;
    height: 250px;
    border-radius: 8px;
  }

  .employeeVehicleHead {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;

    h3 {
      color: #37474f;
      font-size: 30px;
    }

    sub {
      font-size: 10px;
      color: black;
      text-decoration: underline;
      padding: 5px;

      &:hover {
        background-color: #e1e1e1;
        opacity: 0.5;
        border-radius: 4px;
      }
    }

    p {
      span {
        font-weight: bold;
      }
    }
  }

  .employeeVehicleCard {
    position: relative;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #00000099;
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    height: 190px;

    .person4Img {
      position: absolute;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .pencelIcon {
      position: absolute;
      right: 1%;
      font-size: 20px;
      color: red;
      top: 1%;
      padding: 5px;
      width: 24px;
      height: 24px;

      &:hover {
        background-color: #e1e1e1;
        opacity: 0.5;
        border-radius: 4px;
      }
    }

    .headName {
      padding-top: 3.2rem;

      p {
        font-size: 10px;
      }

      h6 {
        font-size: 12px;
        margin: 3px 0 !important;
        color: #146f62;
        font-size: 12px !important;
        font-weight: 600;
      }
    }

    .bodyCard {
      display: flex;
      justify-content: space-between;
      word-break: break-all;

      p {
        font-size: 10px;
      }

      h6 {
        font-size: 12px;
        margin: 3px 0 !important;
        color: #146f62;
        font-size: 12px !important;
        font-weight: 600;
      }
    }

    p {
      text-transform: uppercase;
      color: gray;
      margin-bottom: 0;
    }

    h6 {
      color: #146f62;
      margin-bottom: 0;
    }
  }

  .addFile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px dashed #70707066;

    .addFileImg {
      width: 3rem;
      height: 3rem;
    }

    p {
      text-transform: uppercase;
      width: 40%;
      text-align: center;
      display: flex;
      color: lightgray;
    }
  }
}

.languageSelector {
  .leftArbicL {
    inset: auto 400px -73px auto !important;
  }

  .notleftL {
    inset: auto -365px -73px auto !important;
  }

  .leftArbicLClose {
    inset: auto 400px -216px auto !important;
  }

  .notleftLClose {
    inset: auto 26px -215px auto !important;
  }

  .leftArbicLM {
    inset: -75px auto auto 11px !important;
  }

  .notleftLM {
    inset: -75px 8px auto auto  !important;
  }

  .dropdown-menu {
    padding: 0 !important;
    box-shadow: 0px 0px 5px -1px grey;
    border-radius: 5px;
    // transform: translate3d(184px, -90.6px, 42px) !important;
  }

  .dropdownDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 10px !important;

    &:hover {
      background-color: lightgray;
    }

    i {
      font-size: 20px;
      font-weight: bold;
    }

    span {
      font-size: 12px;
    }

    img {
      width: 30px;
      height: 20px;
    }
  }
}

.company-header {
  .headerMain {
    position: relative;
    margin: 2rem auto;
    width: 90%;

    .extraDataTitle {
      font: normal normal 600 18px/22px Montserrat;
      letter-spacing: 4.5px;
      color: #146f62;
      opacity: 1;
      font-weight: bold;
      text-transform: uppercase;
    }

    .hrLine {
      background-color: #146f62;
      height: 3px;
      width: 75%;
      // position: absolute;
      // width: 75%;
      // top: 15px;
      // right: 15px;
      // background: #146f62;
      // height: 3px;
    }
  }

  .create {
    background: #146f62 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #00000080;
    border-radius: 4px;
    width: 49%;
    height: 40px;
    border: none;
    font: normal normal 600 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    text-transform: uppercase;
  }
}